{% for key, value in (dawarich_service_config_defaults | combine(dawarich_service_config, dawarich_service_fixed_config, recursive=true)).items() %}
{{ key }}={{ value | lower if value is boolean else value }}
{% endfor %}
