[Unit]
After=dawarich-db.service dawarich-redis.service

[Container]
Image={{ dawarich_service_app_image }}
ContainerName=dawarich-app
EnvironmentFile=./configs/dawarich.env
Secret=dawarich_service_db_password,type=env,target=DATABASE_PASSWORD
Secret=dawarich_service_secret_key_base,type=env,target=SECRET_KEY_BASE
Volume={{ service_home }}/data/public:/var/app/public:z
Volume={{ service_home }}/data/watched:/var/app/tmp/imports/watched:z
Volume={{ service_home }}/data/storage:/var/app/storage:z
Entrypoint=web-entrypoint.sh
Exec=bin/rails server -p 3000 -b 0.0.0.0
HealthCmd=wget -qO /dev/null http://127.0.0.1:3000/api/v1/health
HealthInterval=10s
HealthStartPeriod=600s
HealthOnFailure=kill
Notify=healthy

[Service]
TimeoutStartSec=900
